h1{
    color: red;
}
ol{
    color: brown;
    
}
h2{
    color: red;
    font-style: italic;
}
ul{
color: brown;
letter-spacing: 5px;
}
p{
    color: brown;
}
.s1{
    color: brown;
    font-style: italic;
    
}
a{
    text-decoration: none;
}